@import 'resources/styles/constants';

.button {
  display: flex;
  align-items: center;
  gap: $space-sm;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  padding: $space-md $space-lg;
  border-width: $border-md;
  border-style: solid;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;

  &[data-theme="Dark"] {
    background-color: $background;
    border-color: $border-color;
    color: $white;
  }

  &[data-theme="Light"] {
    background-color: $background-light;
    border-color: $border-color-light;
    color: $black;
  }

  &:hover {
    &[data-theme="Dark"] {
      background-color: $background-hover;
    }

    &[data-theme="Light"] {
      background-color: $background-hover-light;
    }
  }
}