$background-default: #0c1117;
$background: #161b22;
$border-color: #30363d;
$space-gradient: linear-gradient(135deg, #7d1eba, #6720a1, #531f87, #401c6e, #301855, #241849, #1a163d, #131330, #0e132b, #0c1324, #0b121e, #0c1117);
$geometry-texture: url('resources/images/inspiration-geometry.png');
$black: rgb(0 0 0);
$white: rgb(255 255 255);
$white-light: rgb(255 255 255 / 20%);
$grey: rgb(0 0 0 / 40%);
$grey-light: rgb(0 0 0 / 5%);

$space-xs: .25rem;
$space-sm: .5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 5rem;

$border-md: .1rem;
$border-lg: .3rem;

$border-radius: .5rem;

$blur-distance: 1rem;

$A4-width: 21cm;
$A4-height: 29.7cm;

$letter-width: 21.6cm;
$letter-height: 27.9cm;