@import 'resources/styles/constants';

#Equivalence {
  grid-area: Equivalence;

  > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: $space-md;

    > .text-box {
      >.title {
        margin-bottom: $space-sm;
      }
    }
  }
}