@import 'resources/styles/constants';

#Home {
  grid-area: Home;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "Top"
    "Middle"
    "Bottom"
  ;
  background-image:
    linear-gradient(180deg, transparent, $background-default),
    $geometry-texture,
    $space-gradient
  ;
  border-radius: 0 0 100% 100% / 0 0 10% 10%;
  padding: $space-md;

  > :nth-child(1) {
    grid-area: Top;
  }

  > :nth-child(2) {
    grid-area: Middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  > :nth-child(3) {
    grid-area: Bottom;
  }
}